# SPDX-FileCopyrightText: NVIDIA CORPORATION & AFFILIATES
# Copyright (c) 2021-2024 NVIDIA CORPORATION & AFFILIATES. All rights reserved.

# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at

#     https://www.apache.org/licenses/LICENSE-2.0

# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# SPDX-License-Identifier: Apache-2.0

apiVersion: v1
kind: ConfigMap
metadata:
  name: mosquitto-config-file
  labels:
    app: mqtt_broker
data:
  mosquitto.conf: |-
    listener 1883 0.0.0.0
    protocol websockets
    allow_anonymous true

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: mqtt-broker
  namespace: {{ .Values.namespace.name }}
  labels:
    app: mqtt-broker
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mqtt-broker
  template:
    metadata:
      labels:
        app: mqtt-broker
    spec:
      volumes:
      - name: mosquitto-conf
        configMap:
          name: mosquitto-config-file
          items:
          - key: mosquitto.conf
            path: mosquitto.conf
      imagePullSecrets:
      - name: {{ .Values.images.nvcrSecret }}
      containers:
      - name: mqtt-broker
        image: eclipse-mosquitto
        volumeMounts:
        - name: mosquitto-conf
          mountPath: /mosquitto.conf
          subPath: mosquitto.conf
        args: ["mosquitto", "-c", "/mosquitto.conf"]
        imagePullPolicy: Always
        ports:
        - name: mqtt
          containerPort: 1883
          protocol: TCP

---

apiVersion: v1
kind: Service
metadata:
  name: mqtt-broker
  namespace: {{ .Values.namespace.name }}
  labels:
    app: mqtt-broker
spec:
  ports:
  - port: 1883
    targetPort: mqtt
    protocol: TCP
    name: mqtt
  selector:
    app: mqtt-broker

---

apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: mqtt-broker
  namespace: {{ .Values.namespace.name }}
  {{- with .Values.ingressAnnotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  rules:
  - host: {{ .Values.hostDomainName }}
    http:
      paths:
      - path: {{ .Values.mqttUrl }}(/|$)(.*)
        pathType: Prefix
        backend:
          service:
            name: mqtt-broker
            port:
              number: 1883
